---
layout: "layouts/base.njk"
permalink: "/media/pages/articles/20220430/qianlingshan.html"
title: "黔灵山公园游记｜赵荣力"
description: "游览贵阳黔灵山公园，记录索道、猕猴、弘福寺与山中景色。"
activeNav: "articles"
isArticle: true
tags: ["article"]
date: "2022-04-30"
hasLightbox: true
cardTitle: "黔灵山公园"
summary: "嘿嘿嘿初探猴山"
category: "旅行"
dateLabel: "2022年4月30日"
cover: "https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/qianlingshan450.jpg"
---
<div class="main-content">

  <div class="as">

  <main>
  <article>
   <header>

    <p class="as-date" itemprop="datePublished">2022年4月30日<span>/</span> <a href="qianlingshan.html">
      旅行</a></p>

    <h1 class="as-title">黔灵山公园<span class="as-rating" style="--rating: 5;" aria-label="Rated 5 out of 5"></span></h1>
  </header>

    <p class="as-subtitle">我们从3月底开始封校，劳动节前几天才开始解封。所以困了一个月的我们必须好好放肆一下，于是就去了贵阳必去的景点，黔灵山。</p>

    <i class="as-subtitle">“黔灵山原名大罗岭，旧名唐山。自明洪武至永乐年间（1375年—1414年）镇远侯顾成游登并发现圣泉之后，山中景点始见于史籍。
      清康熙十一年（1672年），赤松和尚云游至此，见大罗岭南众山之间有片窝地很平，这里当时是山脚苗寨大罗木寨民罗氏的祖地，他便向罗氏化缘求捐。
      赤松结茅庵于山中，寺庙初具规模，初期取名“黔灵山寺”，“黔灵”意为“贵州之灵山”。
      也就是说，这座山是因有黔灵山寺后才得名。此后，赤松和尚将黔灵山寺改名弘福寺。”
    <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp--百度百科
    </i>

    <h3>入门是一条破破的小街，全是卖的吃的，我们来的早于是就买了素粉尝了尝。接着就进了大门。</h3>

    <figure >
      <img alt="黔灵山公园入口" width="520px" height="693px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/damen.jpg" srcset="">
      <figcaption class="fc-cover">黔灵山公园的大门</figcaption>
    </figure>

  <h3>跟其他景区一样的是这个公园也有索道，如果玩的时间很长的话建议上下山都走路，如果中午来的话就尽量坐索道上山，走路下山，因为这个山里面真的好多好多值得玩的地方</h3>

   <img alt="黔灵山公园索道" width="520px" height="390px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/suodao.jpg" srcset="">
   <figcaption class="fc-cover">上山索道</figcaption>


   <h3>下了索道第一眼看见的就是猴子了</h3>
  <img alt="索道附近的猕猴" width="520px" height="693px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/houzi1.jpg" srcset="">

  <h3>站在最高处眺望整个山下</h3>
  <img alt="从黔灵山高处俯瞰山下" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/fukan.jpg" srcset="">
  <figcaption class="fc-cover">眺望云岩区</figcaption>


  <h3>因为当天下了雨，所以我们上山还有少许的雾气，于是就拍出了这张看起来挺有仙气的猴子</h3>
  <img alt="雨后雾气中的猕猴" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/houzi2.jpg" srcset="">

  <h3>路过山下发现了母猴带着小猴一块在寺庙上休闲</h3>
  <img alt="寺庙附近的母猴和小猴" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/houzi3.jpg" srcset="">

  <h3>同样还有两只正在等车的猴子</h3>
  <img alt="等车的两只猕猴" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/houzi4.jpg" srcset="">

  <h3>公园里面不光有上万只猕猴，还有一个动物园，竟然是免费的！</h3>
  <img alt="黔灵山动物园里的孔雀" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/kongque.jpg" srcset="">
  <figcaption class="fc-cover">正好看到它在求偶</figcaption>

  <h3>还有一只叫不上来名字的鸟</h3>
  <img alt="黔灵山动物园里的一只鸟" width="600px" height="600px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/unknow.jpg" srcset="">


  <h3>正如文章开头的简介一样，弘福寺是坐落在这座山上的一座寺庙</h3>
  <img alt="黔灵山上的弘福寺" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/simiao.jpg" srcset="">


  <h3>在这里也见到了这首诗的亲笔</h3>
  <i class="as-subtitle">
    “清钟醒梦醒钟清，生前识性识前生。<br>
    声响谷空谷响声，了悟因缘因悟了。”</i>
    <br><br>

  <img alt="弘福寺里展示的诗作" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/shi.jpg" srcset="">

   <h3>似乎每个长满草的楼宇都有它自己的故事</h3>
  <img alt="黔灵山里长满草的楼阁" width="600px" height="480px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/louge.jpg" srcset="">
  <figcaption class="fc-cover">郁郁葱葱</figcaption>


  <h3>来一张大合照吧</h3>
  <img alt="黔灵山旅行合照" width="600px" height="400px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220430/qianlingshan/dahezhao.jpg" srcset="">

  </div></aside>

    </article>
  </main>
</div>

  </div>

<!-- 底栏-->
