---
layout: "layouts/base.njk"
permalink: "/media/pages/work/work/work12.html"
title: "生活记录 · 第12页｜赵荣力"
description: "赵荣力的生活记录第12页：和家人去看场新郑的飞机，拿上相机嘎嘎狂拍，顺便在小🍠发了个看飞机的最佳位。"
activeNav: "work"
hasLightbox: true
---
<div class="main-content">

  <header>

    <h1 class="extra-title">这大概就是我的生活吧</a> </h1>
    
    <p class="stream-intro"><em>think more</em></p>
    
    </header>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-1" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">8月3号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">和家人去看场新郑的飞机，拿上相机嘎嘎狂拍，顺便在<a href="https://xhslink.com/a/BKEJmyKsXdvcb">小🍠</a>发了个看飞机的最佳位置</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="和家人去看场新郑的飞机，拿上相机嘎嘎狂拍，顺便在小🍠发了个看飞机的最佳位置" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240803.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-2" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">8月6号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">深夜食堂</h3>
    <p>太长时间没吃过贵州的酸汤火锅了，专门买了玉梦的酸汤底料，和把下班的赵梦帆跟赵亮喊了过来恰牛肉哈哈哈</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="深夜食堂" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240806.jpg"></span>
    </figure>
 
    </div>
    </div>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-3" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">8月17号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">路过鲁山大佛</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="路过鲁山大佛" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240817.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-4" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">9月1号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">开学啦！🏫</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="开学啦！🏫（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240901.jpg"></span>
    </figure>
 <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="开学啦！🏫（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240902.jpg"></span>
    </figure> 
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="开学啦！🏫（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240903.jpg"></span>
    </figure>
    
    </div>
    </div>


    <!--    -->
<div class="stream-lr"><span id="life-old-work12-5" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">9月8号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">见天坛的第一面</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="见天坛的第一面（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240908.JPG"></span>
    </figure> 
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="见天坛的第一面（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240909.JPG"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-6" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">9月9号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">没想到吧，博士还是需要上课滴</h3>

   <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="没想到吧，博士还是需要上课滴（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240910.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="没想到吧，博士还是需要上课滴（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240911.jpg"></span>
    </figure>
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-7" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">9月17号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">来看一下室友课题组的化石长啥样子</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="来看一下室友课题组的化石长啥样子（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240917.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="来看一下室友课题组的化石长啥样子（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240918.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="来看一下室友课题组的化石长啥样子（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240919.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-8" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">9月21号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">路过一个小胡同，北京欢迎你</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="路过一个小胡同，北京欢迎你" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240921.jpg"></span>
    </figure>

    </div>
    </div>
    

    <!--    -->
<div class="stream-lr"><span id="life-old-work12-9" class="life-entry-anchor"></span>
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">9月24号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">前排的一个大哥在看什么，有懂的么</h3>
    
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="前排的一个大哥在看什么，有懂的么" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240924.jpg"></span>
    </figure>
    

    </div>
    </div>

    <ul class="paginate">

      <nav class="pagination">
      
      <li class="paginate-item"><a class="next" href="https://rlzhao.com/media/pages/work/work/work11.html">← 上一页</a></li> 
      <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work1.html" >1</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work2.html" >2</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work3.html" >3</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work4.html" >4</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work5.html" >5</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work6.html" >6</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work7.html" >7</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work8.html" >8</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work9.html" >9</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work10.html">10</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work11.html">11</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work12.html">12</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work13.html">13</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work14.html">14</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work15.html">15</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/work">16</a></li>  
        
      <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work13.html">下一页 →</a></li> 
         
        
      </nav>
      
      </ul>

<!-- 底栏-->
