---
layout: "layouts/base.njk"
permalink: "/media/pages/work/work/work11.html"
title: "生活记录 · 第11页｜赵荣力"
description: "赵荣力的生活记录第11页：来自四月最新的Sakura🌸。"
activeNav: "work"
hasLightbox: true
legacyPage: 11
---
<div class="main-content">

  <header>

    <h1 class="extra-title">这大概就是我的生活吧</a> </h1>
    
    <p class="stream-intro"><em>think more</em></p>
    
    </header>

{% include "partials/life-pager.njk" %}

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">4月4号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">来自四月最新的Sakura🌸</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="来自四月最新的Sakura🌸" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240404.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">4月17号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">彩云之南，有风的地方</h3>
    <p>不愧是云南，也不愧是大理，虽然风很大吧，但是这里的生活真的很惬意。</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="彩云之南，有风的地方（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240417.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="彩云之南，有风的地方（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240418.jpg"></span>
    </figure>
    
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">4月26号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">在黄河边要的就是这口</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="在黄河边要的就是这口" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240426.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">5月27号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">我们</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="我们" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240527.jpg"></span>
    </figure>

    
    </div>
    </div>


    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">6月1号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">儿童节快乐！🎉</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="儿童节快乐！🎉" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240601.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">6月23号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">每次去健身都要碰到傻🐶</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <video controls="controls" aria-label="每次去健身都要碰到傻🐶的视频" loading="lazy" width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240623.mp4"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">6月28号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">话不多说，继续加油</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="话不多说，继续加油" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240628.jpg"></span>
    </figure>

    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">6月30号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">去肆季小馆去尝尝刚开发的新品🍇</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="去肆季小馆去尝尝刚开发的新品🍇（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240630.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="去肆季小馆去尝尝刚开发的新品🍇（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240631.JPG"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="去肆季小馆去尝尝刚开发的新品🍇（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240632.JPG"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="去肆季小馆去尝尝刚开发的新品🍇（第4张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240633.JPG"></span>
    </figure>

    
    </div>
    </div>
    

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2024<span class="streamitem-ordinal">年</span>  <a href="">7月4号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">火树银花不夜天</h3>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <video controls="controls" aria-label="火树银花不夜天的视频" loading="lazy" width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240707.mp4"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="火树银花不夜天（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240704.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="火树银花不夜天（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240705.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="火树银花不夜天（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2024/20240706.jpg"></span>
    </figure>

    </div>
    </div>

    {% include "partials/life-pager.njk" %}

<!-- 底栏-->
