---
layout: "layouts/base.njk"
permalink: "/media/pages/work/work/work15.html"
title: "生活记录 · 第15页｜赵荣力"
description: "赵荣力的生活记录第15页：红星前进面包公司也好吃。"
activeNav: "work"
hasLightbox: true
---
<div class="main-content">

  <header>

    <h1 class="extra-title">这大概就是我的生活吧</a> </h1>
    
    <p class="stream-intro"><em>think more</em></p>
    
    </header>

<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">3月18号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">红星前进面包公司也好吃</h3>
    
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="红星前进面包公司也好吃" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250318.jpg"></span>
    </figure>

    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">3月23号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">和田帅，北京见！</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="和田帅，北京见（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250323.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="和田帅，北京见（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250324.jpg"></span>
    </figure>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="和田帅，北京见（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250325.jpg"></span>
    </figure>
   
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">3月27号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">凤冠太好看了，怪不得那么多人排队</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="凤冠太好看了，怪不得那么多人排队" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250327.jpg"></span>
    </figure> 

    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">3月28号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">和老罗和畅哈个啤酒</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="和老罗和畅哈个啤酒" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250328.jpg"></span>
    </figure>
 
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">4月9号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">和兴哥的史诗级会面</h3>

   <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="和兴哥的史诗级会面" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250409.jpg"></span>
    </figure>
    
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">4月11号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">所有的回忆都是刻舟求剑，可是这段回忆不是</h3>
    

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="所有的回忆都是刻舟求剑，可是这段回忆不是" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250411.jpg"></span>
    </figure>

    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2025<span class="streamitem-ordinal">年</span>  <a href="">4月24号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">现在的感觉真的不一样了，有时候就是想坐在椅子上慢慢悠悠的度过半天</h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="现在的感觉真的不一样了，有时候就是想坐在椅子上慢慢悠悠的度过半天" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2025/20250424.jpg"></span>
    </figure>

    </div>
    </div>

    <!--    -->

    <ul class="paginate">

      <nav class="pagination">
      
      <li class="paginate-item"><a class="next" href="https://rlzhao.com/media/pages/work/work/work14.html">← 上一页</a></li>   
      <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work1.html" >1</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work2.html" >2</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work3.html" >3</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work4.html" >4</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work5.html" >5</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work6.html" >6</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work7.html" >7</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work8.html" >8</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work9.html" >9</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work10.html">10</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work11.html">11</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work12.html">12</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work13.html">13</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work14.html">14</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/media/pages/work/work/work15.html">15</a></li>
       <li class="paginate-item"><a class="prev" href="https://rlzhao.com/work">16</a></li>
        
      <li class="paginate-item"><a class="prev" href="https://rlzhao.com/work">下一页 →</a></li>
         
        
      </nav>
      
      </ul>

<!-- 底栏-->
