---
layout: "layouts/base.njk"
permalink: "/media/pages/work/work/work8.html"
title: "生活记录 · 第8页｜赵荣力"
description: "赵荣力的生活记录第8页：南阳--&gt;兰州。"
activeNav: "work"
hasLightbox: true
legacyPage: 8
---
<div class="main-content">

  <header>

    <h1 class="extra-title">这大概就是我的生活吧</a> </h1>
    
    <p class="stream-intro"><em>think more</em></p>
    
    </header>

{% include "partials/life-pager.njk" %}

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2023<span class="streamitem-ordinal">年</span>  <a href="">2月7号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">南阳-->兰州</h3>
<p>去往兰州以后我们又去了<a href="https://rlzhao.com/media/pages/articles/20230207/qinghai1.html">青海</a>，体会到了当地的神圣。</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="南阳--&gt;兰州" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/20230207.jpg"></span>
    </figure>
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2023<span class="streamitem-ordinal">年</span>  <a href="">2月14号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">情人节快乐！</h3>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="情人节快乐" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/20230214.jpg"></span>
    </figure>
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2023<span class="streamitem-ordinal">年</span>  <a href="">3月12号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">贵州省博物馆</h3>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州省博物馆（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303121.jpg"></span>
    </figure>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州省博物馆（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303122.jpg"></span>
    </figure>
    
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州省博物馆（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303123.jpg"></span>
    </figure>
    
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州省博物馆（第4张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303124.jpg"></span>
    </figure>
    
    
    </div>
    </div>

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2023<span class="streamitem-ordinal">年</span>  <a href="">3月22号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">贵州-平坝樱花</h3>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州-平坝樱花（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303221.jpg"></span>
    </figure>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州-平坝樱花（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303222.jpg"></span>
    </figure>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州-平坝樱花（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303223.jpg"></span>
    </figure>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州-平坝樱花（第4张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303224.jpg"></span>
    </figure>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="贵州-平坝樱花（第5张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202303225.jpg"></span>
    </figure>

        
  </div>
</div>


    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2023<span class="streamitem-ordinal">年</span>  <a href="">4月7号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">成都-三星堆</h3>
  <figure class="stream"><span  style="padding-bottom: 10%">
    <img alt="成都-三星堆（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/20230407.jpg"></span>
  </figure>

  <figure class="stream"><span  style="padding-bottom: 10%">
    <img alt="成都-三星堆（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202304071.jpg"></span>
  </figure>
    
  <figure class="stream"><span  style="padding-bottom: 10%">
    <img alt="成都-三星堆（第3张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2023/202304072.jpg"></span>
  </figure>
   
 </div>
    </div>

    {% include "partials/life-pager.njk" %}

<!-- 底栏-->
