---
layout: "layouts/base.njk"
permalink: "/media/pages/work/work/work4.html"
title: "生活记录 · 第4页｜赵荣力"
description: "赵荣力的生活记录第4页：暴雨前的天空。"
activeNav: "work"
hasLightbox: true
legacyPage: 4
---
<div class="main-content">

  <header>

    <h1 class="extra-title">这大概就是我的生活吧</a> </h1>
    
    <p class="stream-intro"><em>think more</em></p>
    
    </header>

{% include "partials/life-pager.njk" %}

    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">3月16号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">暴雨前的天空</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="暴雨前的天空（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220316.jpg"></span>
    </figure>
    <h3 class="streamitem-title">暴雨后的样子</a></h3>
<p>原来下的都是冰雹啊</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="暴雨前的天空（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220317.jpg"></span>
    </figure>
    </div>
    </div>
       <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">3月19号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">超级月亮么？</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="超级月亮么？" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220319.jpg"></span>
    </figure>
    
    </div>
    </div>
      <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">4月5号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">疫情严重封校了，于是写代码</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="疫情严重封校了，于是写代码（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220405.jpg"></span>
    </figure>
    <h3 class="streamitem-title">重要的还是看电影了</a></h3>
       <p>60帧的蜘蛛侠可真行！！！！</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="疫情严重封校了，于是写代码（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220406.jpg"></span>
    </figure>
    </div>
    </div>
    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">4月7号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">我的女朋友成功上岸了！！</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="我的女朋友成功上岸了" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220407.jpg"></span>
    </figure>
    
    </div>
    </div>
    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">4月13号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">上线了第一个小程序</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="上线了第一个小程序（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220413.jpg"></span>
    </figure>
    <p>上周突发奇想，给我俩做了这个小程序。 任何人包括我俩都可以发布一些任务然后获取积分，用这些积分去换商城里的一些东西。 听着很有趣吧，扫描下方二维码快来添加任务吧！</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="上线了第一个小程序（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220414.jpg"></span>
    </figure>
    
    </div>
    </div>

        <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">4月27号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">一年的时光，承载了好多记忆。</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="一年的时光，承载了好多记忆" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220427.jpg"></span>
    </figure>
    
    </div>
    </div>
  

     <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">4月30号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">今日&nbsp 放假</a></h3>
    <p>今天去 <a href="/media/pages/articles/20220430/qianlingshan.html">黔灵山</a>玩了，回来之后段段给我整的可可爱爱的</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="今日 放假" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220430.jpg"></span>
    </figure>
    
    </div>
    </div>


     <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">5月6号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">今天和段段一块去了欢乐世界</a></h3>
    <p>五一过后，贵阳欢乐世界就没什么人，想玩什么就玩什么</p>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="今天和段段一块去了欢乐世界" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220506.jpg"></span>
    </figure>
    
    </div>
    </div>

     <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">5月9号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">去送女朋友回家</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="去送女朋友回家" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220509.jpg"></span>
    </figure>
    
    </div>
    </div>


     <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">5月20号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">看看段段给我买的蛋糕啊</a></h3>

    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="看看段段给我买的蛋糕啊" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220520.jpg"></span>
    </figure>
    
    </div>
    </div>

    {% include "partials/life-pager.njk" %}

<!-- 底栏-->
