---
layout: "layouts/base.njk"
permalink: "/media/pages/work/work/work3.html"
title: "生活记录 · 第3页｜赵荣力"
description: "赵荣力的生活记录第3页：第一场雪。"
activeNav: "work"
hasLightbox: true
legacyPage: 3
---
<div class="main-content">

  <header>

    <h1 class="extra-title">这大概就是我的生活吧</a> </h1>
    
    <p class="stream-intro"><em>think more</em></p>
    
    </header>

{% include "partials/life-pager.njk" %}
    
    <!--    -->
    <div class="stream-lr">
    <div class="stream-meta">
      <p class="streamitem-stamp">
        <span class="streamitem-date">2021<span class="streamitem-ordinal">年</span>  <a href="">12月26号</a></span>
      </p>
    </div>
    
    <div class="stream-main">
    <h3 class="streamitem-title">第一场雪</a></h3>
    <p>这是来到贵阳的第一场雪，我一直以为这边很难下雪，没想到这么快就打脸了</p>
    <blockquote>吃完午饭拿着相机出门，结果天太冷了把电池给冻的充不上电，拍了几张照片就没电了</blockquote>
    <figure class="stream"><span  style="padding-bottom: 10%">
      <img alt="第一场雪" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/xue.JPG"></span>
    </figure>
    </div>
    </div>
    
     <!--    -->
     <div class="stream-lr">
      <div class="stream-meta">
        <p class="streamitem-stamp">
          <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">1月1号</a></span>
        </p>
      </div>
    
      <div class="stream-main">
        <h3 class="streamitem-title">元旦快乐</a></h3>
        <p>所以说晚上就去吃了酸汤牛肉</p>
        突然发现一块方便面要了6块钱，这家店果断拉黑了。
        <figure class="stream"><span style="padding-bottom: 10%">
          <img alt="元旦快乐" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/yuandan.JPG"></span>
        </figure>
        </div>
        </div>
        
    <!--    -->
    <div class="stream-lr">
      <div class="stream-meta">
        <p class="streamitem-stamp">
          <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">1月20号</a></span>
        </p>
      </div>
    
      <div class="stream-main">
        <h3 class="streamitem-title">南阳见面啦</a></h3>
        <p>本来想着去南阳博物馆里逛一逛，结果没开</p>
        <figure class="stream"><span style="padding-bottom: 10%">
          <img alt="南阳见面啦" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/nanyang1.JPG"></span>
        </figure>
        </div>
        </div>
    
    
   <!--    -->
   <div class="stream-lr">
    <div class="stream-meta">
      <p class="streamitem-stamp">
        <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">2月6号</a></span>
      </p>
    </div>
  
    <div class="stream-main">
      <h3 class="streamitem-title">偶然路过</a></h3>
      <p>去平顶山的路上遇见的一个村子</p>
      <figure class="stream"><span style="padding-bottom: 10%">
        <img alt="偶然路过" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220206.JPG"></span>
      </figure>
      </div>
      </div>
    <!--    -->
    <div class="stream-lr">
      <div class="stream-meta">
        <p class="streamitem-stamp">
          <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">2月14号</a></span>
        </p>
      </div>
    
    
    <div class="stream-main">
      <h3 class="streamitem-title">去爬个雪山吧！</a></h3>
      <p>和爱的人一起！</p>
   
    <div class="image-group image-group-vert">
      <span style="padding-bottom: 1%"><img alt="去爬个雪山吧（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/1.JPG" ></span>
      <span style="padding-bottom: 1%"><img alt="去爬个雪山吧（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/2.JPG" ></span>
  </div>
</div>
    </div>
    <!--    -->
   <div class="stream-lr">
    <div class="stream-meta">
      <p class="streamitem-stamp">
        <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">2月25号</a></span>
      </p>
    </div>
  
    <div class="stream-main">
      <h3 class="streamitem-title">我的高中母校</a></h3>
      
      <figure class="stream"><span style="padding-bottom: 10%">
        <img alt="我的高中母校" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220225.JPG"></span>
      </figure>
      </div>
      </div>
<!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">2月26号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">预约的冬奥会信封终于在我回校那天到了</a></h3>
    <p>我这也是有冰墩墩的了</p>
    <figure class="stream"><span style="padding-bottom: 10%">
      <img alt="预约的冬奥会信封终于在我回校那天到了" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220226.jpg"></span>
    </figure>
    </div>
    </div>
<!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">2月27号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">返校第一天那不得聚聚么</a></h3>
    
    <figure class="stream"><span style="padding-bottom: 10%">
      <img alt="返校第一天那不得聚聚么" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220227.jpg"></span>
    </figure>
    </div>
    </div>
    <!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">3月2号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">全寝室一起看兴哥玩塞尔达</a></h3>
   
    <figure class="stream"><span style="padding-bottom: 10%">
      <img alt="全寝室一起看兴哥玩塞尔达" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220302.jpg"></span>
    </figure>
    </div>
    </div>
<!--    -->
<div class="stream-lr">
  <div class="stream-meta">
    <p class="streamitem-stamp">
      <span class="streamitem-date">2022<span class="streamitem-ordinal">年</span>  <a href="">3月5号</a></span>
    </p>
  </div>

  <div class="stream-main">
    <h3 class="streamitem-title">楼下的夜市可望不可及的</a></h3>
    
    <figure class="stream"><span style="padding-bottom: 10%">
      <img alt="楼下的夜市可望不可及的（第1张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220305.jpg"></span>
    </figure>
    <h3 class="streamitem-title">还是去散散步吧</a></h3>
    <p>西区和北区这条路每看一次都感觉很壮观，远处层层叠叠的山峰衬托着路的尽头无边无际</p>
    <figure class="stream"><span style="padding-bottom: 10%">
      <img alt="楼下的夜市可望不可及的（第2张）" loading="lazy" data-lightbox width="70%" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/work/2022/20220306.jpg"></span>
    </figure>
    </div>
    </div>

    {% include "partials/life-pager.njk" %}
