---
layout: "layouts/base.njk"
permalink: "/media/pages/articles/20220810/buildblog.html"
title: "快速上线一个网站｜赵荣力"
description: "使用 GitHub Pages 和域名快速搭建个人网站的步骤记录。"
activeNav: "articles"
isArticle: true
tags: ["article"]
date: "2022-08-10"
hasLightbox: true
cardTitle: "快速上线一个博客"
summary: "博客教程"
category: "编程"
dateLabel: "2022年8月10日"
cover: "https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/buildblog450.jpg"
---
<div class="main-content">

  <div class="as">

  <main>
  <article>
   <header>

    <p class="as-date" itemprop="datePublished">2022年8月10日<span>/</span> <a href="buildblog.html">
      编程</a></p>

    <h1 class="as-title">快速上线一个网站<span class="as-rating" style="--rating: 5;" aria-label="Rated 5 out of 5"></span></h1>
  </header>


    <h3>1在阿里云购买一个域名</h3>

    <figure >
      <img alt="阿里云购买域名的页面截图" width="900px" height="42.0779221px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic.png" srcset="">

    </figure>

  <h3>2打开github，用github pages管理</h3>
    <h4>2.1首先创建一个仓库</h4>
    <figcaption class="fc-cover">仓库名称xxxx.github.io<br>点击下方绿色按钮创建</figcaption>
   <img alt="GitHub 创建仓库时填写仓库名称的截图" width="900px" height="217.0478px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%201.png" srcset="">


  <img alt="GitHub 创建仓库页面截图" width="900px" height="518.665px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%208.png" srcset="">

  <h4>2.2打开github desktop</h4>

  <img alt="GitHub Desktop 软件界面截图" width="900px" height="618.75px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%203.png" srcset="">

  <figcaption class="fc-cover">点击clone repository</figcaption>

  <img alt="GitHub Desktop 克隆仓库的截图" width="900px" height="618.75px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%204.png" srcset="">

  <h4>2.3打开克隆之后的文件夹</h4>
  <img alt="本地克隆仓库的文件夹截图" width="900px" height="488.405797px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%205.png" srcset="">
  <figcaption class="fc-cover">上传一个index.html文件</figcaption>

  <img alt="向仓库添加 index.html 文件的截图" width="900px" height="488.405797px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%206.png" srcset="">
  <figcaption class="fc-cover">gihub desktop-> current repository-> xxxx.github.io</figcaption>

  <img alt="GitHub Desktop 选择当前仓库的截图" width="900px" height="618.75px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%207.png" srcset="">
  <h4>2.4回到阿里云域名界面</h4>
  <img alt="阿里云域名设置页面截图一" width="900px" height="488.405797px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%2014.png" srcset="">
  <img alt="阿里云域名设置页面截图二" width="900px" height="488.405797px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%2015.png" srcset="">

  <h4>2.5回到github</h4>
  <img alt="返回 GitHub 配置网站的截图一" width="900px" height="518.665px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%2011.png" srcset="">
  <img alt="返回 GitHub 配置网站的截图二" width="900px" height="518.665px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%2012.png" srcset="">

  <h3>3访问域名</h3>
  <img alt="在浏览器访问个人网站域名的截图" width="900px" height="518.665px" data-lightbox loading="lazy" src="https://websiteanthony.oss-cn-beijing.aliyuncs.com/rlzhao/media/pages/articles/20220810/buildblog/Pasted%20Graphic%2016.png" srcset="">

  </div></aside>

    </article>
  </main>
</div>

  </div>

<!-- 底栏-->
