---
layout: "layouts/base.njk"
permalink: "/about.html"
title: "关于我｜赵荣力"
description: "了解赵荣力，并找到他的社交平台和联系方式。"
activeNav: "about"
---
<div class="main-content">

<header><h1 class="extra-title">关于我</h1></header>
<p>你好，我是赵荣力。我喜欢记录生活、拍照和旅行，也在这里整理科研学习与编程时写下的笔记。</p>
<p>从河南大学毕业后，我在贵州继续学习。想认识我的话，可以从<a href="/">主页时间线</a>看起，也欢迎读读<a href="/work.html">日常生活记录</a>。</p>
<p>我写过<a href="/media/pages/articles/20230429/vaspintro.html">VASP 实用教程</a>和<a href="/media/pages/articles/20220810/buildblog.html">快速上线一个博客</a>；更多内容在<a href="/articles.html">文章列表</a>。</p>
<p>欢迎发邮件到 <a href="mailto:1061965034@qq.com">1061965034@qq.com</a>，或通过页面下方的社交平台联系我。</p>
