---
layout: "layouts/base.njk"
permalink: "/about.html"
title: "关于我｜赵荣力"
description: "赵荣力的个人网站关于页面。"
activeNav: "about"
---
<div class="main-content">

<header><h1 class="extra-title">关于我</h1></header>
</div>
