---
layout: "layouts/base.njk"
permalink: "/about.html"
title: "关于我｜赵荣力"
description: "了解赵荣力，并找到他的社交平台和联系方式。"
activeNav: "about"
---
<div class="main-content">

<header>
<h1 class="extra-title">关于我
</h1>
</header>
