---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name | escape }}的文章</title>
    <link>{{ site.url }}/articles.html</link>
    <description>赵荣力的文章更新</description>
    <language>zh-CN</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {% for post in collections.article | reverse %}
    <item>
      <title>{{ (post.data.cardTitle or post.data.title) | escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      <description>{{ (post.data.summary or post.data.description) | escape }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
