---
layout: "layouts/base.njk"
permalink: "/index.html"
title: "赵荣力｜个人主页"
description: "赵荣力的个人网站，记录生活、旅行、科研学习与编程笔记。"
activeNav: "home"
---
<h1 class="visually-hidden">赵荣力的个人主页</h1>

<div class="main-content">
<section class="home-intro" aria-labelledby="home-intro-title">
  <div class="home-intro-copy">
    <p class="home-intro-eyebrow">生活 · 旅行 · 学习</p>
    <h2 id="home-intro-title">你好，我是赵荣力。</h2>
    <p>我喜欢记录生活、拍照和旅行，也把科研学习与编程时写下的笔记放在这里。往下是我的个人时间线，你也可以先从感兴趣的内容看起。</p>
  </div>
  <div class="home-intro-links" aria-label="从这里开始浏览">
    <a href="/work.html"><span>01 / 日常生活</span><strong>看看最近的生活记录</strong><span aria-hidden="true">↗</span></a>
    <a href="/articles.html"><span>02 / 文章</span><strong>读读旅行与学习笔记</strong><span aria-hidden="true">↗</span></a>
  </div>
</section>
<h2 class="home-section-title">我的时间线</h2>
<div class="column-container">
<ul class="tl home-timeline">
  <!--   1   -->
  <li class="tl-img tl-l">
    <img class="tl-circ" src="/assets/images/tl/rlzhao.png" alt="赵荣力的照片" width="152" height="152" decoding="async" fetchpriority="high">
  </li>

  <li class="tl-text tl-tn">
    <p class="tl-text-item"><span><br>我是一位学生，同样也是一位Vlogger，有很多想做的事和很多没有实现的梦.</span></p>
  </li>

  <!--   2   -->
  <li class="tl-img tl-s">
    <p class="tl-text-item"><span class="tl-year">1998</span></p>
    <img class="tlf-mam" src="/assets/images/tl/baby.png" alt="婴儿时期的赵荣力" width="150" height="112" decoding="async" loading="lazy">
  </li>

  <li class="tl-text tl-tar">
    <p class="tl-text-item tl-trcc"><span>我在漯河出生啦！</span></p>
  </li>

  <!--   3   -->
  <li class="tl-img tl-s">
    <img src="/assets/images/tl/2003.png" alt="童年常去的游乐园" width="150" height="112" decoding="async" loading="lazy">
  </li>
  <!--  4    -->
  <li class="tl-text tl-tn">
    <p class="tl-text-item"><span>小时候记忆里经常去的游乐园.</span></p>
  </li>
  <!--   5   -->
  <li class="tl-img tl-m">
    <img class="tlf-mam" src="/assets/images/tl/2004.png" alt="2004年在人民公园旁的柯达店" width="150" height="200" decoding="async" loading="lazy">
  </li>
  <!--    我站在人民公园旁边的柯达店里  -->
  <li class="tl-text tl-tn">
    <p id="ffn1" class="tl-text-item">
      <span class="tl-year">2004</span><span>我站在人民公园旁边的<br>柯达店里.<sup><a href="#fn1" class="footnote">1</a></sup>
        <br>可能是当时爱上了拍照.</span></p>
  </li>
  <!--   7   -->
  <li class="tl-img tl-s">
    <img class="tlf-notts tlf-rc2" src="/assets/images/tl/2007.png" alt="童年时摆姿势拍照" width="150" height="200" decoding="async" loading="lazy">
  </li>
  <!--  8   -->
  <li class="tl-text tl-tn">
    <p class="tl-text-item"><span>摆一个很酷的拍照姿势.</span></p>
  </li>
  <!--   9   -->
  <li class="tl-img tl-xs">
    <img class="tlf-rc" src="/assets/images/tl/2010.png" alt="第一张证件照" width="150" height="200" decoding="async" loading="lazy">
  </li>
  <!--   10   -->
  <li class="tl-text tl-tn tl-tar">
    <p class="tl-text-item"><span>我的第一个证件照.</span></p>
  </li>
  <!--    11  -->
  <li class="tl-img tl-m">
    <img class="tlf-mam" src="/assets/images/tl/2011.png" alt="2011年登长城" width="150" height="200" decoding="async" loading="lazy">
  </li>
  <!--     12 -->
  <li class="tl-text tl-tn">
    <p class="tl-text-item">
    <span class="tl-year">2011</span><span>长大后弥补了小时候不敢爬长城的遗憾.</span></p>
  </li>

<!--      -->
<li class="tl-img tl-l">
  <p class="tl-text-item">
    <span class="tl-year">2013</span>
  </p>
  <img class="tl-p tlf-rc2" src="/assets/images/tl/2013.png" alt="家里的第一只小泰迪" width="150" height="112" decoding="async" loading="lazy">
</li>

<li class="tl-text tl-tn">
  <p class="tl-text-item"><span>我的第一只小泰迪.<br><br><em id="ffn2" class="lyric">这年我也从初中升到了高中.</em><sup>
    <a href="#fn2" class="footnote">2</a></sup></span></p>
</li>

<!--      -->
<li class="tl-img tl-l">
  <p class="tl-text-item">
    <span class="tl-year">2016</span>
  </p>
  <img class="tl-p tlf-rc2" src="/assets/images/tl/2016.png" alt="高考后到重庆旅行" width="150" height="112" decoding="async" loading="lazy">
</li>

<li class="tl-text">
  <p class="tl-text-item">
    <span>刚刚结束高考，就去重庆玩了一趟，超级开心！<br><br><em id="ffn3" class="lyric">旅游过后我又复读了一年.</em><sup><a href="#fn3" class="footnote">3</a></sup></span></p></li>
<!--      -->
<li class="tl-img tl-w"><img class="tlf-rc2 tlf-canvas" src="/assets/images/tl/2017.png" alt="2017年进入大学" width="150" height="112" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span class="tl-year">2017</span><span>升学啦！！！.<br><br><em id="ffn4" class="lyric">大学生活开启了.</em><sup><a href="#fn4" class="footnote">4</a></sup></span></p></li>
<!--      -->
<li class="tl-img tl-xs"><img class="tlf-rc" src="/assets/images/tl/201711.png" alt="在学校包的第一顿饺子" width="150" height="200" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span>在学校包了第一顿饺子.</span></p></li>
<!--      -->
<li class="tl-img tl-xs"><img class="tlf-rc" src="/assets/images/tl/20175.png" alt="自己做的酸菜鱼" width="150" height="112" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span>第一年做过很多次饭，酸菜鱼是一绝.</span></p></li>
<!--      -->
<li class="tl-img tl-xs"><img class="tlf-rc" src="/assets/images/tl/2019.png" alt="和家人一起游开封龙亭" width="150" height="112" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span>和家人们一块去了龙亭.</span></p></li>
<!--      -->
<li class="tl-img tl-xs"><img class="tlf-rc" src="/assets/images/tl/20191.png" alt="家里的第二只泰迪" width="150" height="200" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span class="tl-year">2019</span><span>我的第二只泰迪，现在家里两只泰迪开始要打架了.</span></p></li>

<!--      -->

<li class="tl-img tl-s"><img class="tlf-glasto" src="/assets/images/tl/20194.png" alt="博物馆展示的姓氏占比" width="150" height="266" decoding="async" loading="lazy"></li>

<li class="tl-text"><p class="tl-text-item"><span>博物馆里看到了我的姓氏占比.</span></p></li>
<!--      -->

<li class="tl-text tl-tar"><p class="tl-text-item"><span>第一届开封文化市集，我和小谢同学把整个摊位的章盖了一遍.</span></p></li>

<li class="tl-img tl-m"><img class="tlf-rc2 tlf-canvas" src="/assets/images/tl/20196.png" alt="开封文化市集盖章记录" width="150" height="112" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p id="ffn5" class="tl-text-item"><span>大学最喜欢的就是文创之类的活动了.<br>非常有意思.<sup><a href="#fn5" class="footnote">5</a></sup></span></p></li>
<!--      -->

<li class="tl-img tl-m"><img class="tlf-glasto" src="/assets/images/tl/20197.png" alt="大学暑期调研与获奖" width="150" height="84" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p id="ffn6" class="tl-text-item"><span>最火热的夏天去做了调研，也拿到了校级个人奖.<sup><a href="#fn6" class="footnote">6</a></sup></span></p></li>
<!--      -->

<li class="tl-img tl-s"><img class="tlf-rc2" src="/assets/images/tl/20214.png" alt="阳光下的小谢" width="150" height="112" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span>阳光正好！</span></p></li>

<!--      -->
<li class="tl-img tl-s">
  <p class="tl-text-item"><span class="tl-year">2021</span></p>
  <img class="tlf-mam" src="/assets/images/tl/20216.png" alt="河南大学毕业留念" width="150" height="100" decoding="async" loading="lazy">
</li>

<li class="tl-text tl-tar">
  <p class="tl-text-item"><span>我从河南大学毕业啦！</span></p>
</li>


<!--      -->
<li class="tl-img tl-xs"><img class="tlf-rc" src="/assets/images/tl/20219.png" alt="在贵州开始研究生生活" width="150" height="143" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span>去到贵州开始新的生活啦！</span></p></li>

<!--      -->
<li class="tl-img tl-xs">
  <p class="tl-text-item"><span class="tl-year">2023</span></p>
  <img class="tlf-rc" src="/assets/images/tl/2023.jpg" alt="发表第一篇 SCI 论文的记录" width="150" height="200" decoding="async" loading="lazy"></li>

<li class="tl-text tl-tn"><p class="tl-text-item"><span>第一篇SCI</span></p></li>
</ul>

<h3 class="tl-footnotes">介绍</h3>
<ul class="tl-key">
 <!--  <li class="tl-keyitem"><span class="tl-keyi tlk-rel">⊙</span>Related article on this site</li>   暂时不用-->
  <li class="tl-keyitem"><span class="tl-keyi tlk-fni">^</span>返回对应图片</li>
</ul>

<ol id="tl-footnotes">
<li id="fn1">当时柯达还没有破产，拍出来的滤镜很好看，直到现在我都很喜欢这种滤镜风格. <a href="#ffn1" class="tl-footnote-icon">^</a></li>
<li id="fn2">高中去了漯河一高，认识了我这一生最好的朋友们. <a href="#ffn2" class="tl-footnote-icon">^</a></li>
<li id="fn3">高三第一年没有想去的学校，暑假决定了再来一年，不过复读的结果挺好的. <a href="#ffn3" class="tl-footnote-icon">^</a></li>
<li id="fn4">准备好好生活，好好努力了. <a href="#ffn4" class="tl-footnote-icon">^</a></li>
<li id="fn5">除了这个活动，还参加了各种活动. <a href="#ffn5" class="tl-footnote-icon">^</a></li>
<li id="fn6">调研之后剪了一个Vlog，可惜没能在汇报演出上播放出来. <a href="#ffn6" class="tl-footnote-icon">^</a></li>
</ol>

</div>
</div>
