<div class="main-content">
  <div class="footer">
    <div class="footer-box">
      <h3 class="heading-footer">我的社交平台</h3>
      <p>关注我或者给我发消息.</p>
      <div class="as-share">
        <a class="bilibili" href="https://space.bilibili.com/281606553" aria-label="哔哩哔哩" rel="me"><i></i></a>
        <a class="instagram" href="https://www.instagram.com/zhaorongli_/" aria-label="Instagram" rel="me"><i></i></a>
        <a class="weibo" href="https://weibo.com/u/7091405797" aria-label="微博" rel="me"><i></i></a>
        <a class="weixin" href="/assets/images/weixin/IMG_0218.JPG" aria-label="微信二维码"><i></i></a>
        <a class="email" href="mailto:1061965034@qq.com" aria-label="发送邮件"><i></i></a>
        <a class="youtube" href="https://www.youtube.com/channel/UCZnoVnEN6k03dfa53QqKbLQ" aria-label="YouTube" rel="me"><i></i></a>
        <a class="github" href="https://github.com/Anthonyrr98" aria-label="GitHub" rel="me"><i></i></a>
      </div>
    </div>
    <div class="footer-box">
      <h3 class="heading-footer">我还有另外一个网站</h3>
      <p><a href="https://www.zrldyn.com/">我们的故事</a>.</p>
      <p><em>“又等来了一个春天”</em></p>
    </div>
    <p class="footer-copyright">© 2026 Anthony <span class="footer-bullet">•</span> <a href="https://github.com/Anthonyrr98/personalpage1.github.io" rel="me">github</a></p>
  </div>
</div>
